{% extends 'base.html' %}

{% block title %} | {{ filter_type }} recipes {% endblock %}


{% block hero-content %}

{% endblock %}



{% block main-content %}

<!-- contain start -->
<div class="bg-body-tertiary p-5">
    <div class="container p-5">
        
        <form class="col-7 mx-auto card p-4 shadow-lg" method="post" enctype="multipart/form-data">
            {% csrf_token %}
            <h2>Update Profile <i class="ri-user-fill"></i></h2>
            <hr class="mb-4">
            <div class="mb-3">
                <label for="exampleInputPassword1" class="form-label">Profile Image</label>
                {% if user_profile.profile_img %}
                <div class="mb-2" style="width: 200px; height: 200px; border-radius: 50%; overflow: hidden;">
                    <img src="/media/{{ user_profile.profile_img }}" alt="profile image"
                        style="object-fit: cover; object-position: center; width: 100%; height: 100%;">
                </div>
                {% endif %}

                <!-- File input field to allow changing the image -->
                <input name="profile_img" value="{{user_profile.profile_img}}" type="file" class="form-control">

                
            </div>
            <div class="mb-3">
                <label for="exampleInputEmail1" class="form-label">Username</label>
                <input name="username" value="{{ user.username }}" type="text" class="form-control">
            </div>
            <div class="mb-3">
                <label for="exampleInputPassword1" class="form-label">First Name</label>
                <input name="first_name" value="{{ user.first_name }}" class="form-control">
            </div>
            <div class="mb-3">
                <label for="exampleInputPassword1" class="form-label">Last Name</label>
                <input name="last_name" value="{{ user.last_name }}" class="form-control">
            </div>
            <button type="submit" class="btn btn-primary">Update Profile</button>
        </form>
        
    </div>

</div>


<!-- container end -->

{% endblock %}