{% extends 'base.html' %}

{% block title %} | Home {% endblock %}


{% block hero-content %}

<!-- hero section start -->
<div class="container hero-section">
    <h1 class="display-1">Discover Delicious Recipes for Every Taste</h1>
    <p class="lead">Welcome to our culinary haven! Explore a world of flavors with our carefully curated
        recipes, perfect for
        home cooks and food enthusiasts alike. From quick and easy weeknight dinners to elaborate weekend
        feasts, we offer a variety of recipes to satisfy every craving. Start your culinary journey today and
        unlock the secrets of mouthwatering dishes that will impress your family and friends!"
        <br>
        Feel free to adjust the heading and paragraph to better suit the style and tone of your project. Let me
        know if there's anything else I can help you with!
    </p>
</div>
<!-- hero section end -->

{% endblock %}



{% block main-content %}

<!-- different cuzine start -->
<!-- <div class="different-cuzine">
        <div class="container">
            <div class="headings">
                <h1>Find Your Next Favorite Recipe</h1>
                <h2>Search for Recipes and Share Your Own</h2>
            </div>
            <div class="food-category">
                <h3>From Sunrise to Sunset: Recipes for Every Meal</h3>
                <div class="category-img">
                  
                </div>
            </div>
        </div>
    </div> -->
<!-- different cuzine end -->

{% endblock %}