<!-- Login Modal -->
<div class="modal fade" id="loginModal" tabindex="-1" aria-labelledby="loginModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-header d-flex flex-column">
                <div class="d-flex align-items-center w-100 mb-3">
                    <h3 class="modal-title" id="loginModalLabel" style="flex-grow: 1;">Login</h3>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div>
                    <h6>Bring your flavors to the table and share your recipe with the world.🍽️</h6>
                </div>
            </div>
            <div class="modal-body">
                <!-- Include your login form template here -->
                <form method="post" action="">
                    {% csrf_token %}
                    <div class="mb-3">
                        <label for="id_username" class="form-label">Username</label>
                        <input type="text" name="username" class="form-control" id="id_username" required>
                    </div>
                    <div class="mb-3">
                        <label for="id_password" class="form-label">Password</label>
                        <input type="password" name="password" class="form-control" id="id_password" required>
                    </div>
                    
                    <div>
                        <p>Don't have any account ? <a href="" data-bs-target="#signupModal" data-bs-toggle="modal">create account</a></p>
                    </div>

                    <button type="submit" class="btn btn-success">Login</button>
                </form>
            </div>
        </div>
    </div>
</div>