{% extends 'base.html' %}

{% block title %} | User {% endblock %}


{% block hero-content %}
<div class="container p-2 text-white">


    <!--form start-->
    <div class="container mt-5 mb-5">
        <form class="col-7 mx-auto card p-4 shadow-lg" method="post" enctype="multipart/form-data">
            {% csrf_token %}
            <h2>Create Account</h2>
            <h5 class="mt-1">New recipes are like hidden treasures. Let's discover yours!🧑🏻‍🍳</h5>
            <hr class="mb-4">

            {% if messages %}
            <div>
                {% for message in messages %}
                <div
                    class="alert alert-{{ message.tags }} alert-dismissible fade show">
                    {{ message }}
                    <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
                </div>
                {% endfor %}
            </div>
            {% endif %}

            <div class="mb-3">
                <label for="id_firstname" class="form-label">First Name</label>
                <input type="text" name="firstname" class="form-control" id="id_firstname" required>
            </div>
            <div class="mb-3">
                <label for="id_lastname" class="form-label">Last Name</label>
                <input type="text" name="lastname" class="form-control" id="id_lastname" required>
            </div>
            <div class="mb-3">
                <label for="id_username" class="form-label">Username</label>
                <input type="text" name="username" class="form-control" id="id_username" required>
            </div>
            <div class="mb-3">
                <label for="id_password" class="form-label">Password</label>
                <input type="password" name="password" class="form-control" id="id_password" required>
            </div>

            <div>
                <p>Already have an account ? <a href="{% url 'user_login' %}">login</a></p>
            </div>

            <button type="submit" class="btn btn-success">Create Account</button>
        </form>
    </div>
    <!--form ends-->

    {{ recipes }}

</div>
{% endblock %}


{% block main-content %}

{% endblock %}


{% block footer %}
{% endblock %}